<%- include("partials/header")%>
<!-- 
<h1>
	HELLO!!
</h1> -->
<br><br><br><br>
<div class="container">
	<a href="/challenge">Long Challenge</a>
	<br>
	<a href="/cook">Cook off</a>
	<br>
	<a href="/ltime">Lunctime</a>
</div>

<%- include("partials/footer")%>