<%- include("partials/header")%>

<h1>
	HELLO!!
</h1>

<a href="/choice/challenge">Long Challenge</a>
<br>
<a href="/choice/cook">Cook off</a>
<br>
<a href="/choice/ltime">Lunctime</a>

<%- include("partials/footer")%>