<%- include("../partials/header")%>

<br>
<div class="container">
	<h1 class="text-center text-white">
		Welcome in Long Challenge
	</h1>
	<br><br><br>
	<div class="text-center">
		<a href="/challenge/div2prob1"><button type="button" class="btn btn-info custom">Division 2 - Problem 1</button></a>	
	</div>
	<br>
	<div class="text-center">
		<a href="/challenge/div2prob2"><button type="button" class="btn btn-info custom">Division 2 - Problem 2</button></a>	
	</div>
	<br>
	<div class="text-center">
		<a href="/challenge/div2prob3"><button type="button" class="btn btn-info custom">Division 2 - Problem 3</button></a>	
	</div>
	<br>
	<div class="text-center">
		<a href="/challenge/div2prob4"><button type="button" class="btn btn-info custom">Division 2 - Problem 4</button></a>	
	</div>
	<br>
	<div class="text-center">
		<a href="/challenge/div2prob5"><button type="button" class="btn btn-info custom">Division 2 - Problem 5</button></a>	
	</div>
	<br>
	<div class="text-center">
		<a href="/challenge/div2prob6"><button type="button" class="btn btn-info custom">Division 2 - Problem 6</button></a>	
	</div>
	<br>
	<div class="text-center">
		<a href="/challenge/div2prob7"><button type="button" class="btn btn-info custom">Division 2 - Problem 7</button></a>	
	</div>
	<br>
	<div class="text-center">
		<a href="/challenge/div2prob8"><button type="button" class="btn btn-info custom">Division 2 - Problem 8</button></a>	
	</div>
	<br>
	<br>
</div>

<%- include("../partials/footer")%>