<%- include("partials/header")%>

<br><br><br><br><br><br><br>
<div class="container text-center">
	<a href="/challenge"><button type="button" class="btn btn-info custom">LONG CHALLENGE</button></a><br><br><br>
	<a href="/cook"><button type="button" class="btn btn-light custom" >COOK-OFF</button></a><br><br><br>
	<a href="/ltime"><button type="button" class="btn custom" style="background-color:#FFC312">LUNCHTIME</button></a>
</div>

<%- include("partials/footer")%>