<%- include("../partials/header")%>

<br><br><br>
<div class="container">
	<h1 class="text-center text-white">
		Welcome in Long Challenge
	</h1>
	<br><br><br>
	<div class="text-center">
		<a href="/challenge/div2prob1"><button type="button" class="btn btn-info custom">Division 2 - Problem 1</button></a>	
	</div>
</div>

<%- include("../partials/footer")%>