<%- include("./partials/header") %>



<div class="container">
	<div style="background-color:#00BFFF;width:100%;padding:10px 10px 10px 10px;border-radius:5px;margin-bottom:30px;margin-top:20px;">
		<h1 class="text-center text-white justify-content-center">
			Welcome in Arko!!
		</h1>
		<p>
			Programming… Competitive Programming… It teaches you how to think?. If you are a programmer you might have understood the deep meaning of 				these lines quoted by Steve Jobs and you might have also experienced that even after shutting your computer you keep on thinking about 					programming stuff or code you have written in your project. Once you enter in programming you just don’t learn how to code but you also 				learn the “art of thinking”, by breaking your code into smaller chunks and then using your logic-based creativity to solve a problem from 				different angles. Programming is fun, programming is an exercise for your brain, programming is a mental sport and when this sport is held 				over the internet involving sport programmer as a contestant then it is called Competitive Programming. Competitive Programming is a sport, 			I mean literally. Take any sport, let’s consider cricket for that matter, you walk in to bat for the first time. Swing and a miss, do it 				couple of times and you’ll eventually hit one over the ropes. Now, consider a programming contest as a game of cricket, metaphorically. 				Compile a code and submit, you may get a WA (Wrong Answer). Make changes to code and eventually you will get your first AC (Accepted/Correct 			 Answer). Let me give you a sneak peek, about 20% of questions in a programming contest are simple conversion of plain english to a code of 			your favourite programming language. Walk right into it, you will learn the unwritten rules of the game as you play harder and get better. 				And believe me, you don’t need to know any “fancy name” algorithm or data-structure to get started. Ever heard of “Waft shot”, yet you’re 				the best batsman in your street, right?
		</p>
	</div>
	<div style="background-color:#40E0D0;width:100%;padding:10px 10px 10px 10px;border-radius:5px;margin-bottom:30px;margin-top:20px;">
		<h1 class="text-center text-white justify-content-center">
			How to use
		</h1>
		<p>
			You can find the Codechef's Long Challenge, Cook-Off, Lunchtime problems here!<br>
			You can mark the problems done/undone which will help you in not repeating the problems. The total number of problems solved by a specific user we will be shown on their profile page. To exoplore these features you have to be logged in first.If you are not logged in you can still see the questions but the done/undone option will not be visible. <br><br>
			<b>Sequencing of Problems : -</b> <br>The problems are categorized as Problem 1,Problem 2 and so on. This numbering is based on the number of correct submission of the problem. Let's say in a specific Long Challenge the problem having most number of correct submissions will be in Problem 1 category here and the problem with the least number of submissions will be in Problem 8 category.<br>
			<br>If you find any glitch or want to add any features please let me know.<br>
			<br>You can take out a little bit of your precious time to fill this <a href="https://docs.google.com/forms/d/e/1FAIpQLSfieemAjS2vySqXnBiH6crRa42Rf7hdVMlBda3SGX25xAh4LA/viewform?usp=sf_link" target="_blank">Feedback Form</a> 
		</p>
	</div>
</div>

<%- include("./partials/footer") %>