<%- include("partials/header")%>


<div class="container justify-content-center text-center" style="height:90vh">
	<!-- <br><br><br><br><br><br><br> -->
	
	<div class="row justify-content-center" style="margin-bottom:50px;margin-top:150px;">
		<a href="/challenge"><button type="button" class="btn-sm btn-info custom">LONG CHALLENGE</button></a>
		<!-- <br><br><br> -->
	</div>
	<div class="row justify-content-center" style="margin-bottom:50px;">
		<a href="/cook"><button type="button" class="btn-sm btn-light custom" >COOK-OFF</button></a>
		<!-- <br><br><br> -->
	</div>
	<div class="row justify-content-center" style="margin-bottom:50px;">
		<a href="/ltime"><button type="button" class="btn-sm custom" style="background-color:#FFC312">LUNCHTIME</button></a>
	</div>
</div>

<%- include("partials/footer")%>