<%- include("../partials/header")%>

<!-- <br><br><br><br>
<div class="container">
	<h1 class="text-white">
		Coming Soon!!
	</h1>
</div> -->

<!-- <br> -->
<div class="container justify-content-center" style="margin-bottom:50px;">
	<h1 class="text-center text-white justify-content-center" style="margin-bottom:80px;margin-top:30px">
		Welcome in Lunch Time
	</h1>
	<!-- <br><br><br> -->
	<div class="row text-center justify-content-center marginQues" >
		<a href="/ltime/div2prob1"><button type="button" class="btn btn-info custom">Division 2 - Problem 1</button></a>	
	</div>
	<!-- <br> -->
	<div class="row text-center justify-content-center marginQues">
		<a href="/ltime/div2prob2"><button type="button" class="btn btn-info custom">Division 2 - Problem 2</button></a>	
	</div>
	<!-- <br> -->
	<div class="row text-center justify-content-center marginQues">
		<a href="/ltime/div2prob3"><button type="button" class="btn btn-info custom">Division 2 - Problem 3</button></a>	
	</div>
	<!-- <br> -->
	<div class="row text-center justify-content-center marginQues">
		<a href="/ltime/div2prob4"><button type="button" class="btn btn-info custom">Division 2 - Problem 4</button></a>	
	</div>
	<!-- <br> -->
	<div class="row text-center justify-content-center marginQues">
		<a href="/ltime/div2prob5"><button type="button" class="btn btn-info custom">Division 2 - Problem 5</button></a>	
	</div>
	<div class="text-white" style="margin-top:50px;float:right;">
		<p>
			Problem with more number number of submissions is placed higher.For more <a href="/about">details</a>
		</p>
	</div>
</div>


<%- include("../partials/footer")%>